<footer class="blog-footer">

    <ul class="nav">
        {% if USE_CUSTOM_MENU %}
            {% for name, url in CUSTOM_MENUITEMS %}
                <li><a href="{{ SITEURL }}/{{ url }}">{{ name }}</a></li>
            {% endfor %}
        {% endif %}
            {% for page in PAGES %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        {% for title,url in CONTACTS %}
            <li><a href="{{ url }}">{{ title|capitalize }}</a></li>
        {% endfor %}
        {% include 'email.html' %}
    </ul>

    <p class="disclaimer">
    {% if SITEFOOTER %}
        {{ SITEFOOTER }}
    {% endif %}
    </p>
</footer>
