<header class="blog-header">
    <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
    <p>{% if SITESUBTITLE %} {{ SITESUBTITLE }} {% endif %}</p>
    <nav>
        <a href="{{ SITEURL }}/{{ INDEX_URL }}">RECENT</a>
        <a href="{{ SITEURL }}/archive">ALL</a>
        <a href="{{ SITEURL }}/category">CATEGORIES</a>
    </nav>
</header>
