{% extends "base.html" %}

{% block container %}

        <div class="landing-container">
            <header>
                <h1 class="landing-header">{{ SITENAME }}</h1>
                <p>{% if SITESUBTITLE %} {{ SITESUBTITLE }} {% endif %}</p>
            </header>
            <ul class="nav">
                {% if USE_CUSTOM_MENU %}
                    {% for name, url in CUSTOM_MENUITEMS %}
                        <li><a href="{{ SITEURL }}/{{ url }}">{{ name }}</a></li>
                    {% endfor %}
                {% endif %}
                    {% for page in PAGES %}
                        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                {% for title,url in CONTACTS %}
                    <li><a href="{{ url }}">{{ title|capitalize }}</h3>
                    </a></li>
                {% endfor %}
                {% include 'email.html' %}
            </ul>
            <footer>
                <p class="disclaimer">
                {% if SITEFOOTER %}
                    {{ SITEFOOTER }}
                {% endif %}
                </p>
            </footer>
        </div>

{% endblock container %}
